allure-results/
screenshots/
screenshot/
test-output/
build/

application.log
###############
#Java
######################
.mtj.tmp/
*.class
*.jar
*.war

*.ear
*.nar
hs_err_pid*
activityLog.log
########################
## Maven
######################
target/
pom.xml.tag
pom.xml.relaseBackup
pom.xml.versionBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml

###################
##Eclipse
###################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
